<% layout('layouts/boilerplate')  -%>
<body>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" placeholder="add title..." name="listing[title]">
        <br><br>
        <textarea name="listing[description]" placeholder="add description..."></textarea>
        <br><br>
        <input type="text" placeholder="enter img/url..." name="listing[image]">
        <br><br>
        <input type="text" placeholder="add price..." name="listing[price]">
        <br><br>    
        <input type="text" placeholder="add location..." name="listing[location]">
        <br><br>
        <input type="text" placeholder="add country..." name="listing[country]">
        <br><br>
        <button>Add</button>
    </form>
</body>