<% layout('layouts/boilerplate')  -%>
<body>
    <h3>Create New Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" placeholder="add title..." name="listing[title]">

        <textarea name="listing[description]" placeholder="add description..."></textarea>
        
        <input type="text" placeholder="enter img/url..." name="listing[image]">

        <input type="text" placeholder="add price..." name="listing[price]">

        <input type="text" placeholder="add location..." name="listing[location]">

        <input type="text" placeholder="add country..." name="listing[country]">
        <button>Add</button>
    </form>
</body>